!!!
%html
  %head
    %title Withings Graphs
    %meta{content: "width=device-width", name: "viewport"}
    %link{href: "/stylesheets/bootstrap.min.css", media: "all", rel: "stylesheet"}
    %link{href: "/stylesheets/style.css", media: "all", rel: "stylesheet"}
    %script{src: "/javascripts/jquery.min.js"}
    %script{src: "/javascripts/bootstrap.min.js"}

  %body
    .container= yield
