.row
  .col-md-4
  .col-md-4
    .well.well-lg.connect
      %p To get started, connect your Withings account.
      %a{href: "/auth/withings", class: "btn btn-primary btn-block", role: "button"}
        Connect
  .col-md-4
